body{
    background: aliceblue;
}

.increment{
    display: none;
    
}

.row{
    display: flex;
    font-size: 25px;
    justify-content: center;
}
.row input{
    height: 40px;
    width: 280px;
    border-radius: 20px;
    border: 1px solid grey;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}

.row button{
    font-size: 17px;
    margin-left: 20px;
    border-radius: 20px;
    width: 100px;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.increment{
    width: 400px;
    margin:100px auto;
}

.increment p{
    font-size: 20px;
    margin-bottom: 50px;
}

.increment button{
    color: #fff;
    background-color: #198754;
    padding: 12px 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 2px grey;
    font-weight: bold;
    animation: 3s  click infinite;

}

@keyframes click{
    0%{
        transform: scale(1);
       
    }
    50%{
        transform: scale(0.96);
    }

    100%{
        transform: scale(1);
    }
}